.container_creer_jeu {
  width: 100%;
  min-height: 84vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.div_bouton_retour{
  width: 100%;
}

.inserer_plateau {
  margin-left: auto;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10vh;
}

.div_bouton_suivant{
  width:58%;
}

.div_input_plateau{
  position: relative;
  width: 25%;
  margin: auto;
}

.div_input_plateau input{
  width: 100%;
  padding: 30px 0px 30px 30px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: var(--primary-color);
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;

}


.div_input_plateau .label_input_plateau{
  position: absolute;
  left: 0;
  top:0;
  padding:10px;
  pointer-events: none;
  font-size: 1em;
  color: rgb(255 , 255, 255,0.5);
  text-transform: uppercase; 
  transition: 0.5;
}

.div_input_plateau input:valid ~ .label_input_plateau,
.div_input_plateau input:focus ~ .label_input_plateau{
  color:#fff;
  transform: translate(15px,-20px);
  font-size:0.35em;
  background: var(--primary-color);
  border-left: 3px solid #00dfc4;
  border-right: 3px solid #00dfc4;
  letter-spacing: 0.2rem;
}